numpy
pandas

scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt

segno
pillow

streamlit

librosa  #This lib is to rec a voise or to store a voice 
resemblyzer #This lib actually compaires 2 voices and check saame or not